body {
  background-image: url("../images/body-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  margin: 80px auto;
  max-width: 550px;
  background: violet;
  background: transparent;
  color: white;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

form {
  text-align: center;
  padding: 25px;
}

input {
  padding: 9px;
  border-radius: 5px;
  border: none;
}

h1 {
  margin: 0;
}

.current-temp {
  font-size: 45px;
}
